:root {
  --font-face: "Montserrat", sans-serif;
  --font-secondary: "Comfortaa", sans-serif;
  --font-weight: 400;
  --font-size: 10px;
  --line-height: lineHeight(10px, 12px);
  --letter-spacing: 0.025em;
}

:root {
  --cl-accent: #64d370;
  --cl-accent-brighter: #00ba2d;
  --cl-accent-lighter: #65cf71;
  --cl-accent-dimmed: #64d37030;
  --cl-accent-strongly-dimmed: #64d37050;
  --cl-accent-faded: #26f03a10;
  --cl-normal: #f5faff;
  --cl-normal-dimmed: #f5faff70;
  --cl-normal-super-dimmed: #f5faff80;
  --cl-darker: #dee6ee;
  --cl-the-darkest: #02020240;
  --cl-lighter: #ffffff;
  --cl-text-normal: #020202;
  --cl-text-darker: #000000;
  --cl-text-lighter: #f4f9fe;
  --cl-datetime: #b5c2ce;
  --cl-alert: #fe3666;
  --cl-incorrect: #f87676;
  --cl-correct: #64d370;
  --cl-backdrop: #02020285;
  --cl-product-overlay: #111010;
  --cl-close-chat: #f35353;
  --cl-form-placeholder: #a0abb6;
  --cl-link-active: #3d9646;
}

body {
  width: getSize((mobile: (r-btn--xs: 21px, r-btn--s: 26px, r-btn--large: 64px)), mobile, r-btn--xs);
}

.slider__title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

h1,
h2,
h3,
h4,
h6,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: var(--font-face), var(--font-secondary);
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  line-height: var(--line-height);
  background-color: var(--cl-normal);
  color: var(--cl-text-normal);
}

.container {
  padding: 0 20px;
}

.btn {
  display: inline-block;
  padding: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14286;
  letter-spacing: var(--letter-spacing);
  text-align: center;
  vertical-align: middle;
  border: 3px solid;
  border-radius: 190px;
  -webkit-box-shadow: 0px 0px 40px #56565630;
          box-shadow: 0px 0px 40px #56565630;
  cursor: pointer;
  -webkit-transition: background-color 250ms linear, color 150ms linear;
  transition: background-color 250ms linear, color 150ms linear;
}

.btn--s {
  min-width: 136px;
  min-height: 33px;
}

.btn--md {
  min-width: 163px;
  min-height: 35px;
}

.btn--lg {
  min-width: 280px;
  min-height: 36px;
}

.btn--inactive {
  border-color: var(--cl-accent);
  background-color: var(--cl-accent);
  color: var(--cl-normal);
}

.btn:hover,
.btn:focus {
  border-color: var(--cl-accent);
  background-color: var(--cl-normal);
  color: var(--cl-accent);
}

.lang-switcher__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 41px;
  width: 41px;
  font-family: var(--font-secondary);
  border: 0;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 40px #56565630;
          box-shadow: 0px 0px 40px #56565630;
  cursor: pointer;
  --fs: 16px;
  --lh: lineHeight(16px, 16px);
  font-size: var(--fs);
  line-height: var(--lh);
  letter-spacing: var(--letter-spacing);
  text-transform: uppercase;
  color: var(--cl-text-normal);
  -webkit-transition: background-color 250ms linear, color 150ms linear;
  transition: background-color 250ms linear, color 150ms linear;
}

.lang-switcher__btn:hover {
  background-color: var(--cl-accent);
  color: var(--cl-normal);
}

.svg-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  font: inherit;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}

.svg-btn__icon {
  width: 10px;
  height: 14px;
  fill: inherit;
}

.follow-up-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 41px;
  width: 41px;
  font-family: var(--font-secondary);
  border: 0;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 40px #56565630;
          box-shadow: 0px 0px 40px #56565630;
  cursor: pointer;
  --cl-bg: #020202;
  padding: 3px;
}

.follow-up-btn__icon {
  width: 15px;
  height: 15px;
  fill: var(--cl-normal);
}

.mobile-menu-btn {
  --size-hover: 1.1;
  --fill-icon: #020202;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 41px;
  width: 41px;
  font-family: var(--font-secondary);
  border: 0;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 40px #56565630;
          box-shadow: 0px 0px 40px #56565630;
  cursor: pointer;
  padding: 21.5px 19px;
  -webkit-transition: -webkit-transform 150ms linear;
  transition: -webkit-transform 150ms linear;
  transition: transform 150ms linear;
  transition: transform 150ms linear, -webkit-transform 150ms linear;
}

.mobile-menu-btn:hover {
  -webkit-transform: scale(var(--size-hover));
          transform: scale(var(--size-hover));
}

.mobile-menu-btn__icon {
  width: 25px;
  height: 20px;
  fill: var(--fill-icon);
  scale: 1;
  -webkit-transition: -webkit-transform 150ms linear;
  transition: -webkit-transform 150ms linear;
  transition: transform 150ms linear;
  transition: transform 150ms linear, -webkit-transform 150ms linear;
}

.mobile-menu-btn:hover .mobile-menu-btn__icon {
  -webkit-transform: scale(var(--size-hover));
          transform: scale(var(--size-hover));
}

.mobile-menu-btn__icon-cross {
  display: none;
}

.mobile-menu-btn.is-opened .mobile-menu-btn__icon-cross {
  display: block;
}

.mobile-menu-btn.is-opened .mobile-menu-btn__icon-menu {
  display: none;
}

.contact-tel {
  --size-hover: 1.1;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 41px;
  width: 41px;
  font-family: var(--font-secondary);
  border: 0;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 40px #56565630;
          box-shadow: 0px 0px 40px #56565630;
  cursor: pointer;
  padding: 15px 18px 18px 18px;
  -webkit-transition: -webkit-transform 150ms linear;
  transition: -webkit-transform 150ms linear;
  transition: transform 150ms linear;
  transition: transform 150ms linear, -webkit-transform 150ms linear;
}

.contact-tel:hover {
  -webkit-transform: scale(var(--size-hover));
          transform: scale(var(--size-hover));
}

.contact-tel__inner {
  display: none;
}

.contact-tel__icon {
  width: 27px;
  height: 30px;
  fill: var(--cl-accent-lighter);
  -webkit-transform: rotate(-1.24deg);
          transform: rotate(-1.24deg);
  -webkit-transition: -webkit-transform 150ms linear;
  transition: -webkit-transform 150ms linear;
  transition: transform 150ms linear;
  transition: transform 150ms linear, -webkit-transform 150ms linear;
}

.contact-tel:hover .contact-tel__icon {
  -webkit-transform: scale(var(--size-hover));
          transform: scale(var(--size-hover));
}

.slider__pictureset {
  position: absolute;
  top: 95px;
  right: 50px;
}

.slider__pictureset::before {
  --cl-border: #ffffff;
  position: absolute;
  content: "";
  width: 114px;
  height: 114px;
  border: 7px solid var(--cl-border);
  border-radius: 50%;
  z-index: 3;
}

.slider__picture {
  -webkit-clip-path: circle();
          clip-path: circle();
}

.slider__subtitle {
  margin-bottom: 5px;
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.125;
  letter-spacing: var(--letter-spacing);
}

.slider__text {
  margin-bottom: 10px;
  line-height: 1.3;
}

.slider__mark {
  background-color: transparent;
  color: var(--cl-accent);
}

.slider__btn {
  margin-bottom: 10px;
}

.slider__offer-meta {
  display: block;
  margin-bottom: 2px;
  font-size: 12px;
  line-height: 1.33333;
}

.slider__price {
  display: block;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  color: var(--cl-accent);
}

.slider__control {
  width: 156px;
}

.control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.control__btn {
  --scale-factor: 2.4289;
  width: 14px;
  height: 14px;
}

.control__btn:hover, .control__btn:focus {
  background-color: var(--cl-accent);
  -webkit-transform: scale(2.4289);
          transform: scale(2.4289);
}

.control__btn-prev-next {
  width: 12px;
  height: 14px;
  fill: var(--cl-accent);
}

.control__btn:hover .control__btn-prev-next {
  fill: var(--cl-normal);
  -webkit-transform: scale(calc(1 / var(--scale-factor)));
          transform: scale(calc(1 / var(--scale-factor)));
}

.control__dot-outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.control__dot-outer > :not(:last-child) {
  margin-right: 11px;
}

.control__dot {
  width: 10px;
  height: 10px;
  fill: var(--cl-accent);
  overflow: visible;
  cursor: pointer;
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
}

.control__dot-circle-1 {
  fill: var(--cl-accent);
  -webkit-transition: fill 250ms linear;
  transition: fill 250ms linear;
}

.control__dot-mask {
  opacity: 0;
  -webkit-transition: opacity 250ms linear;
  transition: opacity 250ms linear;
}

.control__dot.is-current {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

.control__dot-circle-1.is-current {
  fill: var(--cl-darker);
}

.control__dot-mask.is-current {
  opacity: 1;
}

.header {
  position: relative;
  padding: 20px 0 0 0;
  -webkit-filter: drop-shadow(0px 0px 40px #56565630);
          filter: drop-shadow(0px 0px 40px #56565630);
}

.header::before {
  position: absolute;
  bottom: 62.9rem;
  left: -1.7rem;
  content: "";
  width: calc(100vw + 1.7rem);
  height: 100vh;
  background-color: var(--cl-accent);
  -webkit-clip-path: circle(16.188rem at 17rem 17.5rem);
          clip-path: circle(16.188rem at 17rem 17.5rem);
  z-index: -1;
}

.header::after {
  position: absolute;
  top: 34px;
  right: 20px;
  content: "";
  width: 65%;
  height: 33px;
  border-radius: 100px;
  background-color: var(--cl-normal);
}

.header__logo {
  position: relative;
  margin: -7px 0 0 -20px;
  font-size: 8px;
  line-height: 1.125;
  z-index: 2;
}

.header__logo::before {
  position: absolute;
  top: -33px;
  left: 13px;
  content: "";
  width: 139px;
  height: 139px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 40px #56565630;
          box-shadow: 0px 0px 40px #56565630;
  background-color: var(--cl-normal);
  z-index: -2;
}

.header__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__btn-wrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  z-index: 2;
}

.header__btn-wrapper > :not(:last-child) {
  margin-right: 9px;
}

.navigation,
.lang-switcher {
  display: none;
}

.header__slider {
  padding-top: 165px;
  padding-left: 30px;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.logo {
  position: relative;
  display: inline-block;
  font-family: var(--font-secondary);
  text-align: center;
  color: inherit;
}

.logo__text {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.sidebar {
  --cl-icon: #020202;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidebar__item {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 41px;
  width: 41px;
  font-family: var(--font-secondary);
  border: 0;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 40px #56565630;
          box-shadow: 0px 0px 40px #56565630;
  cursor: pointer;
  border: 0.3px solid var(--cl-normal);
  -webkit-box-shadow: 0px 0px 30px #56565625;
          box-shadow: 0px 0px 30px #56565625;
  -webkit-transition: width 250ms linear, border-radius 250ms linear, fill 250ms linear;
  transition: width 250ms linear, border-radius 250ms linear, fill 250ms linear;
}

.sidebar__icon {
  width: 35px;
  height: 35px;
  fill: var(--cl-icon);
  color: var(--cl-icon);
  -webkit-transition: fill 250ms linear, color 250ms linear;
  transition: fill 250ms linear, color 250ms linear;
}

.sidebar__link {
  position: absolute;
  top: 20.5px;
  left: 20.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: var(--font-secondary);
  font-size: 10px;
  line-height: 1.4;
  color: var(--cl-icon);
  -webkit-transform: translate(-57%, -50%);
          transform: translate(-57%, -50%);
}

.sidebar__item:last-child > .sidebar__link {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 7px;
  font-weight: 300;
  font-size: 16px;
  line-height: 1;
}

.sidebar__link-span {
  display: block;
  margin-bottom: -7px;
  color: var(--cl-icon);
  -webkit-transition: color 250ms linear;
  transition: color 250ms linear;
}

.sidebar__item:hover .sidebar__link-span,
.sidebar__item:focus .sidebar__link-span,
.sidebar__item:active .sidebar__link-span {
  color: var(--cl-accent);
}

.sidebar__item:nth-child(1) .sidebar__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
}

.sidebar__item:nth-child(2) .sidebar__icon {
  width: 23px;
}

.sidebar__item:nth-child(3) .sidebar__icon {
  width: 40px;
  height: 40px;
}

.sidebar__item:nth-child(4) .sidebar__icon {
  height: 34px;
}

.sidebar__item:nth-child(5) .sidebar__icon {
  width: 27px;
}

.sidebar__item:nth-child(6) .sidebar__icon {
  width: 23px;
  height: 23px;
}

.sidebar__link-text {
  position: absolute;
  top: 50%;
  right: -65px;
  font-weight: 700;
  letter-spacing: var(--letter-spacing);
  color: var(--cl-accent);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 250ms linear, visibility 250ms linear;
  transition: opacity 250ms linear, visibility 250ms linear;
}

.sidebar__item:active .sidebar__link-text {
  visibility: visible;
  opacity: 1;
}

/*  here I'm using sizes of hovered buttons from desktop version like a base because
    1) there is hover and active states only for desktop are pointed
    2) such calculation looks quite wiered and but it's the best I can at the moment
   
*/
.sidebar__item:hover,
.sidebar__item:focus {
  width: 59.15714px;
  border-radius: 190px;
  fill: var(--cl-accent);
}

.sidebar__item:active {
  width: 110.11429px;
  border-radius: 190px;
}

.sidebar__item:hover .sidebar__icon,
.sidebar__item:focus .sidebar__icon,
.sidebar__item:active .sidebar__icon {
  fill: var(--cl-accent);
  color: var(--cl-accent);
}
/*# sourceMappingURL=main.css.map */