//==================geometry and decor of header==================//
.header {
  position: relative;
  padding: 20px 0 0 0;

  filter: drop-shadow(getShadow(4));

  &::before {
    position: absolute;
    top: 0;
    right: 0;

    content: "";
    width: 100%;
    height: 519px;
    background-color: var(--cl-accent);
    // clip-path: circle(259px at 78.5% 0);
    clip-path: circle(259px at 75.5% -31px);

    z-index: getZ(-1);
  }

  &::after {
    position: absolute;
    top: 34px;
    right: 20px;

    content: "";
    width: 65%;
    height: 33px;

    border-radius: 100px;
    background-color: var(--cl-normal);
  }

  //==================logo header styles==================//
  &__logo {
    position: relative;
    margin: -7px 0 0 -20px;

    font-size: 8px;
    line-height: lineHeight(8px, 9px);

    z-index: 2;
  }

  &__logo::before {
    position: absolute;
    top: -33px;
    left: 13px;

    content: "";
    width: 139px;
    height: 139px;

    border-radius: 50%;
    box-shadow: getShadow(4);

    background-color: var(--cl-normal);
    // clip-path: circle(69px at 41% 35%);

    z-index: getZ(-2);
  }
}

//====================menu buttons positioning=========================//
.header__navbar {
  display: flex;
  justify-content: space-between;
}

.header__btn-wrapper {
  display: inline-flex;
  align-items: flex-start;

  z-index: getZ(2);

  & > :not(:last-child) {
    margin-right: 9px;
  }
}

//! just for a while
.sidebar,
.navigation,
.lang-switcher {
  display: none;
}
//==============stlyles for slider in header=====================//
.header__slider {
  padding-top: 165px;
  padding-left: 30px;
}

// .header__pictureset {

// }
