.logo {
  position: relative;

  display: inline-block;

  font-family: var(--font-secondary);
  text-align: center;

  color: inherit;

  &__text {
    position: absolute;
    bottom: 0;
    left: 50%;

    transform: translateX(-50%);
  }
}
