.control {
  display: flex;
  align-items: center;
  //====================button styles================//
  &__btn {
    --scale-factor: 2.4289;

    width: 14px;
    height: 14px;

    // transition: background-color getTime(normal) getTimeFunc(1);

    &:hover,
    &:focus {
      background-color: var(--cl-accent);

      transform: scale(2.4289);
    }
  }

  &__btn-prev-next {
    width: 12px;
    height: 14px;

    fill: var(--cl-accent);
    // transition: fill getTime(normal) getTimeFunc(1);

    .control__btn:hover & {
      fill: var(--cl-normal);

      //prevents icon from scaling while button scales on hover
      transform: scale(calc(1 / var(--scale-factor)));
    }
  }
  //====================dot styles=======================//
  &__dot-outer {
    display: flex;

    margin-left: auto;
    margin-right: auto;

    & > :not(:last-child) {
      margin-right: 11px;
    }
  }

  &__dot {
    width: 10px;
    height: 10px;

    fill: var(--cl-accent);

    overflow: visible;
    cursor: pointer;

    transition: transform getTime(normal) getTimeFunc(1);

    // &:hover {
    //   transform: scale(1.25);
    // }
  }
}
//==================inner dot styles==================//
.control__dot-circle-1 {
  fill: var(--cl-accent);
  transition: fill getTime(normal) getTimeFunc(1);

  // .control__dot:hover & {
  //   fill: var(--cl-darker);
  // }
}

.control__dot-mask {
  opacity: 0;
  transition: opacity getTime(normal) getTimeFunc(1);
}
// .control__dot:hover .control__dot-mask {
//   opacity: 1;
// }
//===============classes for currenr dot====================//
.control__dot.is-current {
  transform: scale(1.25);
}
.control__dot-circle-1.is-current {
  fill: var(--cl-darker);
}
.control__dot-mask.is-current {
  opacity: 1;
}
