//================base styles===================//
.btn {
  display: inline-block;
  padding: 0;

  @include font-preset(500, 14px, 16px);
  letter-spacing: var(--letter-spacing);

  text-align: center;
  vertical-align: middle;

  border: 3px solid;
  border-radius: 190px;
  box-shadow: getShadow(4);

  cursor: pointer;

  transition: background-color getTime(normal) getTimeFunc(1),
    color getTime(faster) getTimeFunc(1);
}
//=================sizes=========================//
.btn--s {
  min-width: 136px;
  min-height: 33px;
}

.btn--md {
  min-width: 163px;
  min-height: 35px;
}

.btn--lg {
  min-width: 280px;
  min-height: 36px;
}
//===============interaction styles=================//
.btn--inactive {
  border-color: var(--cl-accent);
  background-color: var(--cl-accent);
  color: var(--cl-normal);
}

.btn:hover,
.btn:focus {
  border-color: var(--cl-accent);
  background-color: var(--cl-normal);
  color: var(--cl-accent);
}
