.lang-switcher__btn {
  @include btn;
  --fs: 16px;
  --lh: lineHeight(16px, 16px);

  font-size: var(--fs);
  line-height: var(--lh);
  letter-spacing: var(--letter-spacing);

  text-transform: uppercase;

  color: var(--cl-text-normal);

  transition: background-color getTime(normal) getTimeFunc(1),
    color getTime(faster) getTimeFunc(1);

  &:hover {
    background-color: var(--cl-accent);
    color: var(--cl-normal);
  }
}
