.lang-switcher__btn {
  --fs: 16px;
  --lh: lineHeight(16px, 16px);

  display: inline-block;
  width: 39px;
  height: 39px;

  margin: 0;
  padding: 11px 0 11px 0;

  font-family: inherit;
  font-size: var(--fs);
  line-height: var(--lh);
  letter-spacing: var(--letter-spacing);

  text-align: center;
  text-transform: uppercase;

  border: transparent;
  border-radius: 50%;

  box-shadow: getShadow(4);

  background-color: var(--cl-normal);
  color: var(--cl-text-normal);

  transition: background-color getTime(normal) getTimeFunc(1),
    color getTime(faster) getTimeFunc(1);

  cursor: pointer;

  &:hover {
    background-color: var(--cl-accent);
    color: var(--cl-normal);
  }
}
